{{!< default}}

{{!-- {{#each projects}}
  {{#if this.isFeatured}}
    {{> project}}
  {{/if}}
{{/each}}

{{!-- Path: project.hbs 
{{#with this}}
  <div class="project">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
  </div>
{{/with}}
 --}} 
